.void-camp {
  padding: var(--spacing-xxl);
  box-sizing: border-box;
  overflow: hidden;
}

.void-camp__sidebar,
.void-camp__content {
  min-height: 0;
}

.void-camp__content {
  display: flex;
  flex-direction: column;
}
