.void-camp {
  padding: 0 var(--spacing-xxl) var(--spacing-xxl) 0;
  box-sizing: border-box;
  overflow: hidden;
}

.void-camp__sidebar,
.void-camp__content {
  min-height: 0;
}

.void-camp__content {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-lg);
  gap: var(--spacing-lg);
}

.void-camp__content-body {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
